@model WcfRESTGroupesClient.Models.Adhesion

@{
    ViewData["Title"] = "TraiterDemande";
}

<h2>Traiter  Demande Adhesion</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TraiterDemande">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomGroupe" class="control-label"></label>
                <input asp-for="nomGroupe" class="form-control" />
                <span asp-validation-for="nomGroupe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control">
                    <option value="">Selectionner une action</option>
                    <option value=2>Accepter</option>
                    <option value=3>Refuser</option>
                </select>
                @*<input asp-for="status" class="form-control" />*@
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@*<div>
    <h1>username   :</h1>   @ViewBag.username
    <h1>reponse   :</h1>   @ViewBag.Response
</div>*@
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour au menu principal </a><br>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
