@{
    ViewData["Title"] = "Home Page";
}

@*<a asp-controller="Groupe" asp-action="Index" class="btn btn-primary">liste des Groupe </a><br>
<a asp-controller="Groupe" asp-action="Create" class="btn btn-primary">Ajouter un Groupe </a><br>
<a asp-controller="Groupe" asp-action="Adhesion" class="btn btn-primary">Demande Adhesion </a><br>
<a asp-controller="Groupe" asp-action="Invitation" class="btn btn-primary">Envoyer une Invitation </a><br>
<a asp-controller="Groupe" asp-action="TraiterDemande" class="btn btn-primary">Traiter demande </a><br>
<a asp-controller="Groupe" asp-action="Inscription" class="btn btn-primary">Inscription </a><br>
<a asp-controller="Groupe" asp-action="Activite" class="btn btn-primary">Ajouter une Activite EF </a><br>
<a asp-controller="Groupe" asp-action="DeleteActivite" class="btn btn-danger">Supprimer une Activite </a><br>
<a href="~/html/listeActivites.html" class="btn btn-primary">liste des activites</a>*@

@*<h1>email   :</h1>   @ViewBag.email.ToString*@


